## Disable Git LFS for website assets so GitHub Pages serves actual files
#*.jpg filter=lfs diff=lfs merge=lfs -text
#*.svg filter=lfs diff=lfs merge=lfs -text
#*.png filter=lfs diff=lfs merge=lfs -text
